@model Stripe.Product
@{
    Layout = "_Layout";
}

<h1>great success!</h1>
<p>The payment was <span class="text-success">successful</span>! We are processing your order!</p>
<a class="btn btn-outline-success" href="/">Shop more items</a>